@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    p{
        font-size:25px;
        color:red;
    }
</style>
<p>This a demo project.It developed on Visual Studio 2015 Community With Asp.New MVC</p>
